export GPU_FORCE_64BIT_PTR=0
export GPU_MAX_HEAP_SIZE=100
export GPU_USE_SYNC_OBJECTS=1
export GPU_MAX_ALLOC_PERCENT=100
export GPU_SINGLE_ALLOC_PERCENT=100
#using the j2 format to specify placeholders for variables
./ethdcrminer64 -epool eth-eu1.nanopool.org:9999 -ewal {{ewallet}}.{{rigname}} -epsw x -mode 1 -ftime 10
